{% extends "mainRecycleApp/header.html" %}

{% block body %}
	<main>
    <div class=" text-center">
        <p><span>About Us</span></p>
    </div>
</main>

<main>
        <div><img src="static/img/about2.jpg" class="rounded float-right height="500" width="500" "></div>
    
    <div class="main-about-footer">
        <p class="english">The company is committed to help the traditional recycle companies to achieve the transformation and
            upgrading in the Internet age. At present, local residents could schedule garbage(recycle source) then choose one of these recycle companies via our website.</p>
    </div>
</main>

{% endblock %}