{% extends "mainRecycleApp/header.html" %}

{% block content %}
<div class="container">
  <div class="row-fluid">
        <div class="span8">
          <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJidKA7VVYwokRFqUPE4N8OFo&key=AIzaSyBm4zLC1U1LxOz5KiWtR1w4NK8AxLi9FwM" allowfullscreen></iframe>
      </div>
      
        <div class="span4">
        <h2>Visit Our Company</h2>
        <address>
          <strong>NYC Office</strong><br>
          157 West 47th St<br>
          5A<br>
          New York<br>
          NY, 10036<br>
          United States<br>
          <abbr title="Phone">P:</abbr> 212 666 7777
        </address>
      </div>
    </div>
</div>

{% endblock %}