{% extends "mainRecycleApp/header.html" %}

{% block content %}
	<div class="jumbotron jumbotron-fluid">
	  	<div class="container">
	    <h1 class="display-3">Recycling Starts Here.</h1>
	    <p class="lead">Try our recycling center finder.</p>
	  	</div>
	</div>
	<div class = "container">
		<div data-toggle="buttons">
		  <label class="btn btn-sq-lg btn-primary">
		    <input type="checkbox" autocomplete="off">
		    <br>
		    <i class="fa fa-book fa-5x"></i>
		    <br>
		    Paper
		  </label>
		  <label class="btn btn-sq-lg btn-primary">
		    <input type="checkbox" autocomplete="off">
		    <br>
		    <i class="fa fa-shopping-bag fa-5x"></i>
		    <br>

		    Plastic
		  </label>
		  <label class="btn btn-sq-lg btn-primary">
		    <input type="checkbox" autocomplete="off">
		    <br>
		    <i class="fa fa-trash fa-5x"></i>

		    <br>
		    Metal
		  </label>
		  <label class="btn btn-sq-lg btn-primary">
		    <input type="checkbox" autocomplete="off">
			<br>
			<i class="fa fa-television fa-5x"></i>

		    <br>
		    Electronics
		  </label>
		  <label class="btn btn-sq-lg btn-primary">
		    <input type="checkbox" autocomplete="off">
		    <br>
		    <i class="fa fa-glass fa-5x"></i>

		    <br>
		    Glasses
		  </label>
		  <label class="btn btn-sq-lg btn-primary">
		    <input type="checkbox" autocomplete="off">
		    <br>
		    <i class="fa fa-beer fa-5x"></i>

		    <br>
		    Cans
		  </label>
		</div>
		<br>

	<div class="container">
  <p>
  <a class="btn btn-primary" data-toggle="collapse" href="#List1" aria-expanded="false" aria-controls="List1">
    Monday
  </a>
  <a class="btn btn-primary" data-toggle="collapse" href="#List2" aria-expanded="false" aria-controls="List2">
    Tuesday
  </a>
  <a class="btn btn-primary" data-toggle="collapse" href="#List3" aria-expanded="false" aria-controls="List3">
    Wednesday
  </a>
  <a class="btn btn-primary" data-toggle="collapse" href="#List4" aria-expanded="false" aria-controls="List4">
    Thursday
  </a>
  <a class="btn btn-primary" data-toggle="collapse" href="#List5" aria-expanded="false" aria-controls="List5">
    Friday
  </a>
  <a class="btn btn-primary" data-toggle="collapse" href="#List6" aria-expanded="false" aria-controls="List6">
    Saturday
  </a>
  <a class="btn btn-primary" data-toggle="collapse" href="#List7" aria-expanded="false" aria-controls="List7">
    Sunday
  </a>
</p>
<div class="collapse" id="List1">
  <div class="card card-block">
    PowerMyLearning: 520 8th Avenue 10th Floor, New York, NY, 10018
    (917)677-5506
  </div>
</div>
<div class="collapse" id="List2">
  <div class="card card-block">
    Ya-ya Network: 224 W 29th St, New York, NY, 10001
    (212)239-0022
  </div>
</div>
<div class="collapse" id="List3">
  <div class="card card-block">
    Ya-ya Network: 224 W 29th St, New York, NY, 10001
    (212)239-0022
  </div>
</div>
<div class="collapse" id="List4">
  <div class="card card-block">
    Ya-ya Network: 224 W 29th St, New York, NY, 10001
    (212)239-0022
  </div>
</div>
<div class="collapse" id="List5">
  <div class="card card-block">
    Ya-ya Network: 224 W 29th St, New York, NY, 10001
    (212)239-0022
  </div>
</div>
<div class="collapse" id="List6">
  <div class="card card-block">
    Ya-ya Network: 224 W 29th St, New York, NY, 10001
    (212)239-0022
  </div>
</div>
<div class="collapse" id="List7">
  <div class="card card-block">
    Ya-ya Network: 224 W 29th St, New York, NY, 10001
    (212)239-0022
  </div>
</div>
</div><br>

		<input class="form-control form-control-lg" type="text" placeholder="Enter Your ZipCode">
		<br>
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>


	<div class="container">
	<div class="row">
			<div class="col-lg-12 col-md-12 text-center">

	<div class="row divItemCategory">
	        </div>
	        <div class="span12" style="margin:10px 0px">
	            <a href="#" id="unselect_all_link" title="UnSelect all">Unselect All</a>
	        </div>
	        <div class="row">
	            <div class="span12">
	                <h3>Search By</h3>
	            </div>
	            <div class="span12">
	                <div class="row">
	                    <div class="span4">
	                        <div style="margin-bottom:2px"><label for="txtAddress" style="margin-left :0px !important">Full Address AND/OR ZIP CODE<span class="red">*</span></label></div>
	                        <div>
	                            <input id="txtAddress" name="txtAddress" tabindex="5" type="text" style="width:96%; height: 20px !important;" required="required" title="This field is required" />
	                        </div>
	                    </div>
	                    <div class="span2">
	                        <div style="margin-bottom:2px"><label for="ddlDistance" style="margin-left :0px !important">Search Radius</label></div>
	                        <div>
	                            <select id="ddlDistance" name="ddlDistance" tabindex="3" type="select-one" style="width:100%">
	                                <option selected="selected" value="0">Select</option>
	                                <option value=".5">.5 miles</option>
	                                <option value="1">1 miles</option>
	                                <option value="2">2 miles</option>
	                                <option value="3">3 miles</option>
	                                <option value="4">4 miles</option>
	                                <option value="5">5 miles</option>
	                            </select>
	                        </div>
	                    </div>
	                    <div class="span2">
	                        <div style="margin-bottom:2px"><label for="ddlSearchType" style="margin-left :0px !important">Sort By<span class="red">*</span></label></div>
	                        <div>
	                            <select id="ddlSearchType" name="ddlSearchType" tabindex="4" type="select-one" style="width:100%">
	                                <option selected="selected" value="Donate">Give</option>
	                                <option value="Buy">Find</option>
	                            </select>
	                        </div>
	                    </div>
	                    <div class="span2">
	                        <div style="margin-top:14px"><button type="submit" class="btn" tabindex="6" id="btnSearch" style="float:none;">Search</button></div>
	                    </div>
	                    <div class="span2">
	                        <div style="margin-top: 27px"><a href="#" id="reset_search" title="Reset Search"><i class="fa fa-refresh" style="color:#0e8c1b"></i> Reset Search</a></div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
</div>
</div>
<br><br><br>



	<div class="container text-center">
  <h3>What We Do</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="static/img/PlasticRecycling1.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p>For Residents</p>
    </div>
    <div class="col-sm-4">
      <img src="static/img/RecycleCompany1.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p>For Recycle Companies</p>
    </div>
    <div class="col-sm-4">
      <div class="well">
       <p>Local Residents</p><br>
          Do you want recycle garbege in smart way?
      </div>
      <div class="well">
       <p>Recycle Companies</p>
          Getting recycle sources directly from residents?
      </div>
    </div>
  </div>
</div><br>
{% endblock %}
