{% extends "mainRecycleApp/header.html" %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
	  	<div class="container">
	    <h1 class="display-3">Recycling Starts Here.</h1>
	    <p class="lead">Try our recycling center finder.</p>
	  	</div>
	</div>
	<div class = "container">
		<div data-toggle="buttons">
		  <label class="btn btn-sq-lg btn-primary">
		    <input type="checkbox" autocomplete="off"> 
		    <br>	
		    <i class="fa fa-book fa-5x"></i>
		    <br>		   
		    Paper
		  </label>
		  <label class="btn btn-sq-lg btn-primary">
		    <input type="checkbox" autocomplete="off"> 
		    <br>
		    <i class="fa fa-shopping-bag fa-5x"></i>
		    <br>
		    
		    Plastic
		  </label>
		  <label class="btn btn-sq-lg btn-primary">
		    <input type="checkbox" autocomplete="off"> 
		    <br>
		    <i class="fa fa-trash fa-5x"></i>
		    
		    <br>
		    Metal
		  </label>
		  <label class="btn btn-sq-lg btn-primary">
		    <input type="checkbox" autocomplete="off"> 
			<br>
			<i class="fa fa-television fa-5x"></i>
		    
		    <br>
		    Electronics
		  </label>
		  <label class="btn btn-sq-lg btn-primary">
		    <input type="checkbox" autocomplete="off"> 
		    <br>
		    <i class="fa fa-glass fa-5x"></i>
		    
		    <br>
		    Glasses
		  </label>
		  <label class="btn btn-sq-lg btn-primary">
		    <input type="checkbox" autocomplete="off"> 
		    <br>
		    <i class="fa fa-beer fa-5x"></i>
		    
		    <br>
		    Cans
		  </label>
		</div>
		<br>
		<input class="form-control form-control-lg" type="text" placeholder="Enter Your ZipCode">
		<br>
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>

	<div class="container text-center">    
  <h3>What We Do</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="static/img/PlasticRecycling1.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p>For Residents</p>
    </div>
    <div class="col-sm-4"> 
      <img src="static/img/RecycleCompany1.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p>For Recycle Companies</p>    
    </div>
    <div class="col-sm-4">
      <div class="well">
       <p>Local Residents</p><br>
          Do you want recycle garbege in smart way?
      </div>
      <div class="well">
       <p>Recycle Companies</p>
          Getting recycle sources directly from residents?
      </div>
    </div>
  </div>
</div><br>

{% endblock %}