{% extends "mainRecycleApp/header.html" %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
	  	<div class="container">
	    <h1 class="display-3">Recycling Starts Here.</h1>
	    <p class="lead">Try our recycling center finder.</p>
	  	</div>
	</div>
	<div class = "container">
		<div data-toggle="buttons">
		  <label class="btn btn-sq-lg btn-primary">
		    <input type="checkbox" autocomplete="off"> 
		    <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
		    Paper
		  </label>
		  <label class="btn btn-sq-lg btn-primary">
		    <input type="checkbox" autocomplete="off"> Plastic
		  </label>
		  <label class="btn btn-sq-lg btn-primary">
		    <input type="checkbox" autocomplete="off"> Metal
		  </label>
		  <label class="btn btn-sq-lg btn-primary">
		    <input type="checkbox" autocomplete="off"> Electronics
		  </label>
		  <label class="btn btn-sq-lg btn-primary">
		    <input type="checkbox" autocomplete="off"> Glasses
		  </label>
		  <label class="btn btn-sq-lg btn-primary">
		    <input type="checkbox" autocomplete="off"> Cans
		  </label>
		</div>
		<br>
		<input class="form-control form-control-lg" type="text" placeholder="Enter Your ZipCode">
		<br>
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
{% endblock %}