{% extends "mainRecycleApp/header.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row">
  <main> 
    <div class=" text-center">
        <h2><span>About Us</span></h2>
    </div>

    <div class="container-fluid">

        <img src="/static/img/about2.jpg" class="rounded float-right" height="300" width="300">
  
    <div class="main-about-footer">
        <p class="english">The company is committed to help the traditional recycle companies to achieve the transformation and
            upgrading in the Internet age. At present, local residents could schedule garbage(recycle source) then choose one of these recycle companies via our website.</p>
    </div>

  </div>
</main>
</div>
</div>
<br>

<main>
    <div class="main-head text-center">
        <h2><span>MRRS TEAM</span></h2>
    </div>
    <div class="main-team">
      
        <ul>
            <li><span><img src="https://avatars1.githubusercontent.com/u/15823067?s=400&v=4" alt="" width="300" height="350"></span>
                <h5>Rafael Li Chen</h5>
                <h6>Scrum Master</h6>
                <p> The facilitator for an agile development team. </p></li>
            <li class="main-team-display"><span><img src="https://avatars3.githubusercontent.com/u/26423462?s=400&v=4" alt="" width="300" height="350"></span>
                <h5>Rupesh Basnet</h5>
                <h6>Product Owner</h6>
                <p>Have a vision of what to build in website.</p></li>
          
            <li><span><img src="https://avatars2.githubusercontent.com/u/9379035?s=400&v=4" alt="" width="300" height="350"></span>
                <h5>Moustafa Mahmoud</h5>
                <h6>Other Developer</h6>
                <p>Develope website </p></li>
            <li><span><img src="https://avatars3.githubusercontent.com/u/15865510?s=400&v=4" alt="" width="300" height="350"></span>
                <h5>Shirong Zheng</h5>
                <h6>Other Developer</h6>
                <p>Develope website</p></li>
             
        </ul>
       
        <span class="prevbtn"></span>
        <span class="nextbtn"></span>
    </div>
</main>

<!-- <HR style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" width="100%" color=#987cb9 SIZE=1> -->

<div class="container-fluid">
    

   <div class='poster-main'>
        <img src="/static/img/pic1.jpg" width="100%">
        <img src="/static/img/pic2.jpg" width="100%">
        <img src="/static/img/pic3.jpg" width="100%">
        <img src="/static/img/pic4.jpg" width="100%">
        <img src="/static/img/pic5.jpg" width="100%">

    </div>

    <br>
    <div>
    <p > Rethink, repurpose, recycle and remember. Rethink your daily purchases and ask yourself if there are alternatives. Repurpose unused items into art pieces to decorate your home. Recycle materials that can be broken down and turned into new products. Remember someone in the world may not have the resources your garbage bag is filled with. Set the bar high, be the change you wish to see and educate others.</p>
  </div>
  
</div><br>

    <div class="container text-center">
    <h3>What We Do</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <img src="/static/img/PlasticRecycling1.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p>For Residents</p>
      </div>
      <div class="col-sm-4">
        <img src="/static/img/RecycleCompany1.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p>For Recycle Companies</p>
      </div>
      <div class="col-sm-4">
        <div class="well">
         <p>Local Residents</p><br>
            Do you want recycle garbege in smart way?
        </div>
        <div class="well">
         <p>Recycle Companies</p>
            Getting recycle sources directly from residents?
        </div>
      </div>
    </div>
  </div><br>

 <div class="container">
  <div class="embed-responsive embed-responsive-16by9">
   <iframe width="560" height="315" src="https://www.youtube.com/embed/OasbYWF4_S8" frameborder="0" allowfullscreen></iframe>
  </div>
</div><br>

<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="/static/js/poster.js"></script>
    <script>
    jQuery(document).ready(function($) {
        var setting = {
            "width":900,
            "height":234,
        };
        Poster.init($(".poster-main"),setting);
    });
    </script>


{% endblock %}
