{%load static %}
<div class = "container">
	<br>
	<br>
	<div class = "row justify-content-center">

		<h2>How Our Application Works</h2>
	</div>
	<div class = "row justify-content-center">
		<div class = "col-lg-4">
			<img src = "{% static "img/search_img.png" %}" class="img-responsive" style="width:60%">

		</div>
		<div class = "col-lg-4">
			
			<h4>Explore recycling options near your location.</h4>
			<p>Enter your zip code and the types that you want to donate or recycle. Filter by schedule
			and the condition of your types.</p>
		</div>
	</div>
	<br>
	<div class = "row justify-content-center">
		<div class = "col-lg-4">
			<img src = "{% static "img/maps-icon.png" %}" class="img-responsive" style="width:60%">
		</div>
		<div class = "col-lg-4">

			<h4>Save the locations that you like.</h4>
			<p>Create an account with us to save the recycling options and places you want to visit for later.</p>
		</div>
	</div>
	<br>
	<div class = "row justify-content-center">
		<div class = "col-lg-4">
			<img src = "{% static "img/safe-disposal.jpg" %}" class="img-responsive" style="width:60%">
		</div>
		<div class = "col-lg-4">

			<h4>Get information for Safe Disposal Events</h4>
			<p>Where the Safe Disposal Events will be held in NYC and asked to be notified when other events are scheduled.</p>
		</div>
	</div>
</div>