{% extends "mainRecycleApp/header.html" %} {% block content %} {%load static%}

{%load static %}
<div id = "container">
<br><br>
{% for item in donationSite %}
<div class = "row justify-content-center">
	
		<h2>{{item.name}}</h2>
		
</div>
<div class = "row justify-content-center">
		Address: 
		<p id = "address"> {{item.address}} ,{{item.borough}}, {{item.zip}}</p>
		Time: 
		Monday : {{item.Monday}} <br>
		Tuesday : {{item.Tuesday}} <br>
		Wednesday : {{item.Wednesday}}
		Thrusday : {{item.Thrusday}}
		Friday : {{item.Friday}}
		Saturday : {{item.Saturday}}
		Sunday : {{item.Sunday}}
		
		Phone: 
		{{item.cell}}

		Accepted Types:
		{% for value in item.type %}
			{{value}}
		{% endfor %}
</div>
<iframe id = "map" width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
{% endfor %}
</div>
<script> 
	var address = $('#address').text();
	$('#map').attr('src', 'https://www.google.com/maps/embed/v1/place?key=AIzaSyBm4zLC1U1LxOz5KiWtR1w4NK8AxLi9FwM&q=' + address);
</script>
{% endblock %}