{% extends "mainRecycleApp/header.html" %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row justify-content-center">
          <h1 id="header1">Frequently Asked Questions</h1>
    </div>
  </div>
</div>
<div class="container" style="margin-bottom:20px;">
	<div id="accordion" role="tablist">
	  <div class="card">
	    <div class="card-header" role="tab" id="headingOne">
	      <h5 class="mb-0">
	        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	          About NYC Recycle
	        </a>
	      </h5>
	    </div>

	    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
	      <div class="card-body">
	      	<p>How to recycle in New York City?</p>
	      	Visit our <a href="/recycle101">Recycle101</a> page to get an general overview of how you can recycle/donate what you have.
	      	<hr>
	      	<p>What are Donation Sites?</p>
			Donation Sites are places where you can donate or find used items. These places are either privately owned or are non-profit organizations.
			<hr>
	        <p>What is Safe Disposal Event?</p>
	        To help residents dispose of harmful household products safely, DSNY hosts SAFE (Solvents, Automotive, Flammables, and Electronics) Disposal Events throughout the year in all five boroughs.
			Events are held, rain or shine, from 10 am to 4 pm. Because they are popular, be prepared for a line.
			Only NYC residential waste is accepted at SAFE Disposal Events, and no commercial vehicles are allowed. Residents must provide proof of NYC residency, such as a NYS driver’s license or utility bill.
			<hr>
	        <p>What is Special Waste Drop Off Site?</p>
	        New York City residents may bring the following materials to the NYC Department of
			Sanitation Special Waste Collection Centers:
			<ul>
				<li>
				Automotive Batteries
				</li>
				<li>
				Motor Oil and Transmission
				</li>
				<li>
				Fluid
				</li>
				<li>
				Motor Oil Filters
				</li>
				<li>
				Passenger Car Tires
				</li>
				<li>
				Fluorescent Light Bulbs
				</li>
				<li>
				Mercury Containing Devices (such
				as thermostats)
				</li>
				<li>
				Alkaline Batteries
				</li>
				<li>
				Lithium and Rechargeable
				</li>
				<li>
				Batteries
				</li>
				<li>
				Latex Paint
				</li>
			</ul>
			Each household may visit a Special Waste Drop-off Site up to 6 times per year. New York
			City residents must show a valid New York State driver's license and a vehicle registration
			with New York City address. This site is solely for non-commercial New York City residential
			materials. Materials may not be from a business, industrial, fee for service, or profit-making
			activity. Drivers with commercial license plates will not be allowed to enter the collection area.
	        <hr>
	        <p>What is Public Recycle Bins?</p>
	        More than 3,000 recycling bins are located across the City's five boroughs.
	        The City's public recycling bins work the same way as the residential recycling program:
	        <ul>
				<li>In green bins, recycle newspapers, magazines, and mixed paper.</li>
				<li>In blue bins, recycle metal, glass bottles and jars, rigid plastic containers, and food and beverage cartons.</li>
			</ul>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<div class = "container">
	
	<div id="accordion2" role="tablist">
	  <div class="card">
	    <div class="card-header" role="tab" id="headingtwo">
	      <h5 class="mb-0">
	        <a data-toggle="collapse" href="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo">
	          Using the Application
	        </a>
	      </h5>
	    </div>

	    <div id="collapsetwo" class="collapse show" role="tabpanel" aria-labelledby="headingtwo" data-parent="#accordion2">
	      <div class="card-body">
	       <p>How to search for my recycling options?</p>
	       <div class= "text-center">
	       		<img src="/static/img/first_search.png" width="80%">
	       </div>
	       Its as simple as 1, 2, 3 and 4. 
	       <ol>
	       	<li>Select the item type you have</li>
	       	<li>Select the day you are available (Optional)</li>
	       	<li>Enter your zip-code</li>
	       	<li>Click on Submit</li>
	       </ol>
	       <hr>
	       <p>Understanding the result : Donation Sites</p>
	       <div class= "text-center">
	       		<img src="/static/img/result_set.png" width="70%">
	       </div>
	       We take the items you have selected, your availability and your zipcode to provide you with a list information. The first section is the list of donation sites. You can see the day of the week they are open, their location and contact details. We also have a more information button that will take you to the detailed information page. The site in the grey box is our recommendation and it will contain sites that accept the most amount of item types and will be close to your location as well.
	       <hr>
	       <p>Understanding the result : Other options</p>
	       <div class= "text-center">
	       		<img src="/static/img/other_option.png" width="70%">
	       </div>
	       We also provide other options for any items that are not in good condition. These options includes location of the nearest Special Waste Drop-Off Sites, public recycle bins around your location and the SAFE disposal events currently being scheduled.
	       <hr>
	       <p>Bookmark Donation Sites</p>
	       <div class= "text-center">
	       		<img src="/static/img/bookmark.png">
	       </div>
	       If you are logged in you can bookmark the donation sites you want to donate to and view them later from your profile page. Bookmark can be done by clicking on the Bookmark ribbon.


	      </div>
	      


	    </div>
	  </div>
	</div>

</div>
{% endblock %}
