<!DOCTYPE html>
<html>
<head>
	<title>Recycle App Home Page</title>
	{% load static %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel = "stylesheet" href = "static/css/style.css">
  <link rel = "stylesheet" href = "static/css/bootstrap.css">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
   <link rel="stylesheet" href="static/css/bootstrap.css">
  <link rel="stylesheet" href="static/css/font-awesome.css" >
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="static/img/favicon.ico">
</head>
<body>
	<div>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="#"><img src="static/img/logo.png" height="50" width="100"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="/about">About Us </a>
      </li>
			<!-- <li class="nav-item ">
				<a class="nav-link" href="/accounts">Accounts </a>
			</li> -->

      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact Us</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        FAQs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Recommend Us To a Friend</a>
      </li> -->
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>

		{% block content %}
		{% endblock %}

	</div>



	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    
    <script>
 $(document).ready(function() {

    //send the message by click
    $(".chat-send").click(sendMsg);

    //press enter to send
    $("form").keypress(function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            sendMsg();
        }
    });

    //clear the chat box
    $(".chat-clear").click(clearChatBox);
});

//send message to chat box
function sendMsg() {
    var msg = $(".chat-message");
    var msgVal = msg.val();
    var chatBox = $(".chat-box");
    if (msgVal) {
        var msgAppend = "<p><span id='you'>You: </span>" + msgVal + "</p><hr class='you-hr'>";
        chatBox.append(msgAppend);
    } else {}

    //dialog reply
    dialog(msgVal);

    //empty input
    msg.val("");

    //keep the scroll in bottom
    chatBox.scrollTop(chatBox[0].scrollHeight);
}

//set up the AI dialog
function dialog(msg){
    var replyArr = ["Hi, this is Easy Recycle! How can I help you?","Just click Accounts button!","Our service is totally free!"];
    msg = msg.toLowerCase();
    var time = new Date();
    var hour = time.getHours();
    var minute = time.getMinutes();
    var currentTime = plusZero(hour) + ":" + plusZero(minute);

    var chatBox = $(".chat-box");

    if(msg.indexOf("hi") != -1 || msg.indexOf("hello") != -1){
        chatBox.append("<p><span id='ai'>AI: </span>" + replyArr[0] + "</p><hr class='ai-hr'>");
    }
    else if(msg.indexOf("how it works") != -1 || msg.indexOf("where can i find recycling center") != -1){
        chatBox.append("<p><span id='ai'>AI: </span>" + replyArr[1] + "</p><hr class='ai-hr'>");
    }
    else if(msg.indexOf("how it charges") != -1 || msg.indexOf("how much should i pay") != -1){
        chatBox.append("<p><span id='ai'>AI: </span>" + replyArr[2] + "</p><hr class='ai-hr'>");
    }
    else if(msg.indexOf("time") != -1){
        chatBox.append("<p><span id='ai'>AI: </span>Current Time: " + currentTime + ". " + timeGreeting(hour) + "~ :)</p><hr class='ai-hr'>");
    }
    else {}
}

//add 0 if time number is <10
function plusZero(x){
    if(x < 10){
        x = "0" + x;
    }
    else {
        x = x;
    }
    return x;
}

//greeting by hour
function timeGreeting(h){
    var greeting = ["U need to sleep","Good morning","Lunch time now","Feel asleep? Have some coffee","Free time~Yeah","Good night"];

    if(h>=0&&h<=6){
        return greeting[0];
    }
    else if(h>=7&&h<=10){
        return greeting[1];
    }
    else if(h>=11&&h<=13){
        return greeting[2];
    }
    else if(h>=14&&h<=18){
        return greeting[3];
    }
    else if(h>=19&&h<=21){
        return greeting[4];
    }
    else if(h>=22&&h<=23){
        return greeting[5];
    }
    else {
        return "";
    }
}

//clear the chat box
function clearChatBox() {
    $(".chat-box").html("");
}
</script>

</body>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h5><i class="fa fa-recycle"></i> Easy Recycle </h5>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="">Product</a></li>
                            <li><a href="">Benefits</a></li>
                            <li><a href="">Partners</a></li>
                            <li><a href="">Team</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="">Documentation</a></li>
                            <li><a href="">Support</a></li>
                            <li><a href="">Legal Terms</a></li>
                            <li><a href="">About</a></li>
                        </ul>
                    </div>
                </div>
                <ul class="nav">
                    <li class="nav-item"><a href="" class="nav-link pl-0"><i class="fa fa-facebook fa-lg"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-github fa-lg"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-instagram fa-lg"></i></a></li>
                </ul>
                <br>
            </div>
            <div class="col-md-2">
                <h5 class="text-md-right">Contact Us</h5>
                <hr>
            </div>
            <div class="col-md-5">
                <form>
                    <fieldset class="form-group">
                      <input type="text" class="form-control" id="exampleInputName" placeholder="Enter Name">
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Email">
                    </fieldset>
                    <fieldset class="form-group">
                        <textarea class="form-control" id="exampleMessage" placeholder="Message"></textarea>
                    </fieldset>
                    <fieldset class="form-group text-xs-right">
                        <button type="button" class="btn btn-secondary-outline btn-lg">Send</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</footer>
</html>
