{% extends "mainRecycleApp/header.html" %}

{% block content %}
{%load static%}
<style>
.jumbotron{
  background:url({% static "img/green.jpg" %});
  background-size: cover;
}

.unselected {
  background-color: rgb(112, 112, 112);
  border-color: rgb(112, 112, 112);
}
</style>


	<div class="jumbotron jumbotron-fluid">
	  	<div class="container">
	    <h1 class="display-3">Recycling Starts Here.</h1>
	    <p class="lead">Try our recycling center finder.</p>
	  	</div>
  </div>

  <form name="searchForm" onsubmit="return validForm()" action="/search/" method="POST"> {% csrf_token %}
	<div class = "container">
		<div data-toggle="buttons">
		  <label class="btn btn-sq-lg btn-primary unselected">
		    <input value="Electronics" name="gtype" type="checkbox" autocomplete="off">
		    <br>
		    <img src="/static/img/electronics.png" style="width:80px; height:80px">
		    <br>
		    Electronics
		  </label>
		  <label class="btn btn-sq-lg btn-primary unselected">
		    <input value="Home Appliances" name="gtype" type="checkbox" autocomplete="off">
		    <br>
		    <img src="/static/img/homeappliances.png" style="width:80px; height:80px">
		    <br>
		    Appliances
		  </label>
		  <label class="btn btn-sq-lg btn-primary unselected">
		    <input value="Automotive" name="gtype" type="checkbox" autocomplete="off">
			<br>
			<img src="/static/img/car.png" style="width:80px; height:80px">
		    <br>
		    Automotive
		  </label>
		  <label class="btn btn-sq-lg btn-primary unselected">
		    <input value="Office Furniture" name="gtype" type="checkbox" autocomplete="off">
		    <br>
		    <img src="/static/img/officefurniture.png" style="width:80px; height:80px">
		    <br>
		    Furniture
      </label>
      <label class="btn btn-sq-lg btn-primary unselected">
		    <input value = "Clothing" name="gtype" type="checkbox" autocomplete="off">
		    <br>
        <img src="/static/img/clothing.png" style="width:80px; height:80px">
		    <br>
		    Clothing
      </label>
      <label class="btn btn-sq-lg btn-primary unselected">
        <input value = "Building Products" name="gtype" type="checkbox" autocomplete="off">
        <br>
        <img src="/static/img/buildingproducts.png" style="width:80px; height:80px">
        <br>
        Building Products
      </label>
      <label id="more" onclick="togglemore()" class="btn btn-sq-lg" data-toggle="collapse" href="#List1" aria-expanded="false" aria-controls="List1"><br><img data-toggle="collapse" href="#List1" aria-expanded="false" aria-controls="List1" src="/static/img/plus.png" style="width:80px; height:80px"><br>More</label>
    </div>
  </div>

  <div class="container collapse" id="List1">
    <div class="card card-block">
      <div data-toggle="buttons" class="span4" style="margin:4px 4px; float:left !important;">
        <label class="btn btn-primary unselected">
            <input name="gtype" type="checkbox" autocomplete="off">
            <img src="/static/img/art.png" style="width:30px; height:30px">
            Art Supplies
        </label>
        <label class="btn btn-primary unselected">
          <input name="gtype" type="checkbox" autocomplete="off">
          <img src="/static/img/food.png" style="width:30px; height:30px">
          Food &amp; Beverages
          </label>
        <label class="btn btn-primary unselected">
          <input name="gtype" type="checkbox" autocomplete="off">
          <img src="/static/img/officesupp.png" style="width:30px; height:30px">
        Office Supplies
        </label>
        <label class="btn btn-primary unselected">
          <input name="gtype" type="checkbox" autocomplete="off">
          <img src="/static/img/textiles.png" style="width:30px; height:30px">
          Textiles (non-clothing)
        </label>
        <label class="btn btn-primary unselected">
          <input name="gtype" type="checkbox" autocomplete="off">
          <img src="/static/img/householdfurniture.png" style="width:30px; height:30px">
          Household Furniture
        </label>
        <label class="btn btn-primary unselected">
          <input name="gtype" type="checkbox" autocomplete="off">
          <img src="/static/img/shoes.png" style="width:30px; height:30px">
          Shoes
        </label>
        <label class="btn btn-primary unselected">
          <input name="gtype" type="checkbox" autocomplete="off">
          <img src="/static/img/houseware.png" style="width:30px; height:30px">
          Housewares
        </label>
        <label class="btn btn-primary unselected">
          <input name="gtype" type="checkbox" autocomplete="off">
          <img src="/static/img/sport.png" style="width:30px; height:30px">
          Sporting Equipment
        </label>
        <label class="btn btn-primary unselected">
          <input name="gtype" type="checkbox" autocomplete="off">
          <img src="/static/img/jewelry.png" style="width:30px; height:30px">
          Collectibles (antiques, jewelry, art)
        </label>
        <label class="btn btn-primary unselected">
          <input name="gtype" type="checkbox" autocomplete="off">
          <img src="/static/img/lubricants.png" style="width:30px; height:30px">
          Lubricants
        </label>
        <label class="btn btn-primary unselected">
          <input name="gtype" type="checkbox" autocomplete="off">
          <img src="/static/img/food.png" style="width:30px; height:30px">
          Containers &amp; Packaging
        </label>
        <label class="btn btn-primary unselected">
          <input name="gtype" type="checkbox" autocomplete="off">
          <img src="/static/img/medical.png" style="width:30px; height:30px">
          Medical Equipment &amp; Furniture
        </label>
        <label class="btn btn-primary unselected">
          <input name="gtype" type="checkbox" autocomplete="off">
          <img src="/static/img/toy.png" style="width:30px; height:30px">
          Toys/Games
        </label>
        <label class="btn btn-primary unselected">
          <input name="gtype" type="checkbox" autocomplete="off">
          <img src="/static/img/musicalinstruments.png" style="width:30px; height:30px">
          Musical Instruments
        </label>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div data-toggle="buttons">
      <label class="btn btn-primary unselected">
        <input value="Sunday" name="day" type="checkbox" autocomplete="off">
        Sunday
      </label>
      <label class="btn btn-primary unselected">
        <input value="Monday" name="day" type="checkbox" autocomplete="off">
        Monday
      </label>
      <label class="btn btn-primary unselected">
        <input value="Tuesday" name="day" type="checkbox" autocomplete="off">
        Tuesday
      </label>
      <label class="btn btn-primary unselected">
        <input value="Wednesday" name="day" type="checkbox" autocomplete="off">
        Wednesday
      </label>
      <label class="btn btn-primary unselected">
        <input value="Thursday" name="day" type="checkbox" autocomplete="off">
        Thursday
      </label>
      <label class="btn btn-primary unselected">
        <input value="Friday" name="day" type="checkbox" autocomplete="off">
        Friday
      </label>
      <label class="btn btn-primary unselected">
        <input value="Saturday" name="day" type="checkbox" autocomplete="off">
        Saturday
      </label>
    </div>
    <select name="dropdown" required>
      <option value="" disabled selected>Select a time frame</option>
      <option value="0800,0830">8:00 - 8:30 AM</option>
      <option value="0830,0900">8:30 - 9:00 AM</option>
      <option value="0900,0930">9:00 - 9:30 AM</option>
      <option value="0930,1000">9:30 - 10:00 AM</option>
      <option value="1000,1030">10:00 - 10:30 AM</option>
      <option value="1030,1100">10:30 - 11:00 AM</option>
      <option value="1100,1130">11:00 - 11:30 AM</option>
      <option value="1130,1200">11:30 AM - 12:00 PM</option>
      <option value="1200,1230">12:00 - 12:30 PM</option>
      <option value="1230,1300">12:30 - 1:00 PM</option>
      <option value="1300,1330">1:00 - 1:30 PM</option>
      <option value="1330,1400">1:30 - 2:00 PM</option>
      <option value="1400,1430">2:00 - 2:30 PM</option>
      <option value="1430,1500">2:30 - 3:00 PM</option>
      <option value="1500,1530">3:00 - 3:30 PM</option>
      <option value="1530,1600">3:30 - 4:00 PM</option>
      <option value="1600,1630">4:00 - 4:30 PM</option>
      <option value="1630,1700">4:30 - 5:00 PM</option>
      <option value="1700,1730">5:00 - 5:30 PM</option>
      <option value="1730,1800">5:30 - 6:00 PM</option>
      <option value="1800,1830">6:00 - 6:30 PM</option>
      <option value="1830,1900">6:30 - 7:00 PM</option>
      <option value="1900,1930">7:00 - 7:30 PM</option>
      <option value="1930,2000">7:30 - 8:00 PM</option>
      <option value="2000,2030">8:00 - 8:30 PM</option>
      <option value="2030,2100">8:30 - 9:00 PM</option>
      <option value="2100,2130">9:00 - 9:30 PM</option>
      <option value="2130,2200">9:30 - 10:00 PM</option>
      <option value="2200,2230">10:00 - 10:30 PM</option>
      <option value="2230,2300">10:30 - 11:00 PM</option>
      <option value="2300,2330">11:00 - 11:30 PM</option>
      <option value="2330,2400">11:30 PM - 12:00 AM</option>
    </select>
<br><br>
{%if invalid %}
<h6 style="color:red;">Please enter a valid NYC zipcode</h6>
{% endif %}
<input name="zipcode" class="form-control form-control-lg" type="text" placeholder="Enter Your ZipCode" required>
<br>

<div class="row">
  <div class="col-lg-2 offset-lg-5">

    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>
  </div>
</form>
<br>

{%if data|length > 1   %}
<section class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <table class="table">
        <thead>
            <tr>
              <th>Facility</th>
              <th>Type</th>
              <th>Address</th>
              <th>Website</th>
            </tr>
        </thead>
        <tbody id="divsearchresult">
          {% for item in data %}
          <tr>
            <td>{{item.name}}</td>
            <td>{{item.type}}</td>
            <td>{{item.address}}</td>
            <td><a target="_blank" href = "{{item.url}}">Website</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

  </div>
</section>



  <!-- <div class="container">
    <div class="card-deck">
    {% for item in data %}
      <br>
      <div class="card-block" style="width: 20rem; border: 1px grey solid">
        <img class="card-img-top" src="{{ item.logo_url }}" alt="">
        <div class="card-body">
          <h6 class="card-title">{{item.name}}</h6>
          <p>{{item.type}}</p>
          <p>{{item.address}}</p>
          <a target="_blank" href = "{{item.url}}">Website</a>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
  <br> -->
{%endif%}


  <script>
    function togglemore() {
      more='<br><img data-toggle="collapse" href="#List1" aria-expanded="false" aria-controls="List1" src="/static/img/plus.png" style="width:80px; height:80px"><br>More'
      less='<br><img data-toggle="collapse" href="#List1" aria-expanded="false" aria-controls="List1" src="/static/img/minus.png" style="width:80px; height:80px"><br>Less'
      if(document.getElementById("more").innerHTML==more) {
        document.getElementById("more").innerHTML=less
      } else {
        document.getElementById("more").innerHTML=more
      }
    }
    function validForm() {
      var x = document.getElementsByName("gtype")
      typeSelect=false
      for(var i=0; i<x.length; i++) {
        if(x[i].checked) {
         typeSelect=true
        }
      }
      var y = document.getElementsByName("day")
      daySelect=false
      for(var j=0; j<y.length; j++) {
        if(y[j].checked) {
          daySelect=true
        }
      }
      if(typeSelect==false && daySelect==false) {
        alert("Please select at least 1 type of recyclable waste and at least 1 available day")
      } else if(typeSelect==true && daySelect==false) {
        alert("Please select at least 1 available day")
      } else if(typeSelect==false && daySelect==true){
        alert("Please select at least 1 type of recyclable waste")
      }
      return (typeSelect && daySelect)
    }


  </script>


{% endblock %}
