{%load static %}
<div class = "description">
	<div class="card text-center">
	  <div class="card-header">
	    <ul class="nav nav-tabs card-header-tabs" rol="tablist">
	      <li class="nav-item">
	        <a class="nav-link active" href="#specialWasteSites" role="tab" data-toggle="tab">Special Waste Sites</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#publicRecycleBins" role="tab" data-toggle="tab">Public Recycle Bins</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#safeDisposalEvents" role="tab" data-toggle="tab">Safe Disposal Events</a>
	      </li>
	    </ul>
	  </div>
	  <div class = "tab-content">
	  	<div role = "tabpanel" class = "tab-pane active" id = "specialWasteSites">
			  
			    <h4>Special Waste Sites</h4>
			  
	 	</div>
	 	<div role = "tabpanel" class = "tab-pane fade" id = "publicRecycleBins">
		  
		    <h4>Public Recycle Bins</h4>
		  
		</div>
		<div role = "tabpanel" class = "tab-pane fade" id = "safeDisposalEvents">
		  
		    <h4>Safe Disposal Events</h4>
		  
		</div>
	  </div>
	</div>	
</div>