{% extends "mainRecycleApp/header.html" %}

{% block body %}
<div class="container"  style="margin-top:70px;">
	<form role="form" method="POST" action= "/search101"> 
	   {% csrf_token %}
	   <div class = "ui-widget">
		   <input id = "recycleType" name = "recycleType" class="form-control form-control-lg" type="text" placeholder="Enter the  item type">
		   <br>
		   <button type="submit" class="btn btn-primary">Search</button>
	   </div>
	</form>
</div>
<div class = "container">
	{% if data %}
		{% for item in data %}
			{{item}}
		{% endfor %}
	{% else %}
		No Result
	{% endif %}
</div>
<script type="text/javascript">
	$(function() {
		$('#recycleType').autocomplete({
			source: "/api/types/"
		})
	});
</script>

{% endblock %}
