body, html {
    width: 100%;
    height: 100%;
    display: grid;
}
body {
    background-image: url("home.jpg");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}
.center {
    margin: auto;
    text-align: center;
}
input, button {
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: 12pt;
    margin-top: 10px;
    vertical-align: middle;
}
div[id="info"] {
    border-bottom: 1px dotted white;
}
div:nth-last-of-type(2) {
    padding-bottom: 50px;
    margin-bottom: 50px;
}
div:nth-last-of-type(1) {
    margin-bottom: 50px;
}
button:hover {
    background-color: grey;
    border: 1px solid lightgrey;
}
.button-color {
    border: 1px solid lightgrey;
}
input[type=email]:valid {
    border: default;
}
input[type=password]:valid {
    border: 3px solid green;
}
input:invalid {
    border: 3px solid red;
}
#state {
    margin-top: 12px;
    margin-bottom: 2px;
}
#info {
    margin-top: 80px;
}
.nav {
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    font-family: Arial;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li:nth-child(n+2) a:hover {
    background-color: #111;
}
@media only screen and (max-width:410px) {
    li:nth-child(n+3):nth-child(-n+4) a {
        display: none;
    }
}
@media only screen and (min-width:410px) {
    li:nth-child(5) a {
        display: none;
    }
}