input:valid {
    border: 3px solid green;
}
input:invalid {
    border: 3px solid red;
}
body, html {
    width: 100%;
    height: 100%;
}
body {
    background-image: url("home.jpg");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}
input[id="description"] {
    margin-top: 20px;
}
.center {
    margin: auto;
    width: 50%;
    text-align: center;
}
div:nth-of-type(4) {
    margin-top: 30px;
}
div[id="last"] {
    margin-top: -40px;
}
div:nth-of-type(4) select {
    margin-top: 20px;
}
div[id="account"] hr {
    color: black;
}
input, button {
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 12pt;
    margin-top: 10px;
    border: 1px solid lightgrey;
    vertical-align: middle;
}
div:nth-last-of-type(1) {
    padding-bottom: 50px;
}
div:nth-of-type(3) {
    padding-bottom: 50px;
    border-bottom: 1px dotted white;
}
button:hover {
    background-color: grey;
    border: 1px solid lightgrey;
}
.trash-type {
    margin-top: 88px;
}
.trash-type:nth-last-of-type(1) {
    margin-bottom: 25px;
}
.nav {
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    font-family: Arial;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li:nth-child(n+2) a:hover {
    background-color: #111;
}
@media only screen and (max-width:410px) {
    li:nth-child(n+3):nth-child(-n+4) a {
        display: none;
    }
}
@media only screen and (min-width:410px) {
    li:nth-child(5) a {
        display: none;
    }
}